*.py[cod]
*.egg
*.egg-info
/MANIFEST
/.idea/
.tox/
/build/
/dist/
/output/
.*cache/
.eggs/
*.directory
*.prg
*.asm
*.labels.txt
__pycache__/
parser.out
parsetab.py
!/il65/lib/*
.pytest_cache/
docs/build
il65/out
