.idea/workspace.xml
.idea/discord.xml
build/
dist/
output/
.*cache/
*.directory
*.prg
*.bin
*.labels.txt
*.vm.txt
*.vice-mon-list
docs/build
out/
parser/**/*.interp
parser/**/*.tokens
parser/**/*.java
*.py[cod]
*.egg
*.egg-info
.eggs/
/MANIFEST
.tox/
__pycache__/
parser.out
parsetab.py
.pytest_cache/
.attach_pid*

.gradle
/prog8compiler.jar
sd*.img
*.d64
