**/.idea/
/build/
/dist/
/output/
.*cache/
*.directory
*.prg
*.asm
*.bin
*.labels.txt
*.vm.txt
*.vice-mon-list
docs/build
out/
**/*.interp
**/*.tokens

*.py[cod]
*.egg
*.egg-info
.eggs/
/MANIFEST
.tox/
__pycache__/
parser.out
parsetab.py
.pytest_cache/
compiler/src/prog8_kotlin.jar
compiler/src/compiled_java
.attach_pid*

.gradle
build/
/prog8compiler.jar
